<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Synapse</string>
	<key>uuid</key>
	<string>10C153AC-373C-4539-B92E-8987ED0DCC21</string>
</dict>
</plist>
